@model IEnumerable<Gimnasio.Models.AccountViewModels.UserViewModel>

@{
    ViewData["Title"] = "Index";

    var perfil = ViewBag.viewBag;
}

<h2>Gestion Usuarios</h2>

<p>
    <a asp-action="Create">Agregar Usuario</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Activo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Perfil)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Activo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Perfil)
            </td>
            <td>                 
                    @if (perfil != "Desarrollador" && item.Perfil == "Usuario")
                    {
                 <a asp-action="Edit" asp-route-id="@item.ID">Editar</a> 
                <a asp-action="Delete" asp-route-id = "@item.ID"> | Borrar</a>
                    }
                    @if(perfil == "Desarrollador")
                    {
                        <a asp-action="Edit" asp-route-id="@item.ID">Editar</a>
                        <a asp-action="Delete" asp-route-id="@item.ID"> | Borrar</a>
                    }

            </td>
        </tr>
}
    </tbody>
</table>
